.card-header{
 color:black;
 font-style: italic;
}
.list-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__content{
        display: flex;
        flex-direction: column; 
        small{
            color:gray; 
            font-style: italic;
            font-size: 70%;
        } 
    }
    &__buttons{
     display: flex;
    }
.btn{
    margin:3px;
    }
}